<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Meeple</title>
    <link rel="stylesheet" href="/media/CSS/padrao.css">
    <link rel="stylesheet" href="/media/CSS/carrinho.css">
</head>
<body>
    {% include "HTML/partials/header.html" %}

    <main id="main">  
        <h1>Carrinho de Compras</h1>
        <div class="products">
            <div class="produto" id="produto">
                <div class="info" id="info">
                    <div id="imgInfo"></div>
                   <img src="" alt="Foto do produto">
                   <div class="infoText" id="infoText">
                        <p>Nome do produto</p>
                        <p>Quantidade: - 2 +</p>
                        <p>Categoria: seilaQual</p> 
                   </div>
                    <p>R$ 129.00</p>
                    <button>🗑️</button>
                </div>
            </div>
            <div class="produto" id="produto">
                <div class="info" id="info">
                    <div id="imgInfo"></div>
                   <img src="" alt="Foto do produto">
                   <div class="infoText" id="infoText">
                        <p>Nome do produto</p>
                        <p>Quantidade: - 2 +</p>
                        <p>Categoria: seilaQual</p> 
                   </div>
                    <p>R$ 129.00</p>
                    <button>🗑️</button>
                </div>
            </div>
            <div class="produto" id="produto">
                <div class="info" id="info">
                    <div id="imgInfo"></div>
                   <img src="" alt="Foto do produto">
                   <div class="infoText" id="infoText">
                        <p>Nome do produto</p>
                        <p>Quantidade: - 2 +</p>
                        <p>Categoria: seilaQual</p> 
                   </div>
                    <p>R$ 129.00</p>
                    <button>🗑️</button>
                </div>
            </div>
        </div>
        <div class="descricao" id="descricao">
            <h2>Descrição</h2>
            <div class="totais" id="totais">
                <p>Total dos produtos: R$516,00</p>
                <p>Total do frete: R$16,00</p>
            </div>
            <h2>Total do pedido: R$ 616,00</h2>
            <button id="fimPedido">Finalizar Pedido</button>
        </div>
    </main>

    <footer id="footer">
        <div class="formPagamento">
            <p>Formas de Pagamento</p>
            <div class="imgsPagamento">
              <img src="visa.png" alt="Visa">
              <img src="mastercard.png" alt="Mastercard">
              <img src="elo.png" alt="Elo">
            </div>  
        </div>
  
        <div class="logoStar">
            <img src="logo.png" alt="StarMeeple logo">
            <p>StarMeeple 2025</p>
        </div>
  
        <div class="linkSocial">
            <p>Nos sigam nas redes sociais:</p>
            <a href="https://www.instagram.com">Instagram</a>
            <a href="https://www.facebook.com">Facebook</a>
        </div>
      </footer>
      <script src="/templates/JS/padrao.js"></script>
</body>
</html>