<!DOCTYPE html>
<html lang="pt-br">

    <!-- Alicia-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Meeple</title>
</head>
<body>

    <header>
        <nav>
        <div>
            <img src="logo.png" alt="StarMeeple">
            <input type="text" placeholder="O que você está procurando?">
            <button>🔍</button>
            <button>💬</button>
            <img src="avatar.png" alt="Avatar do usuário">
            <span>3</span>
        </div>
        <ul>
            <li>Jogos de Cartas</li>
            <li>Jogos de tabuleiro</li>
            <li>Quebra-cabeças</li>
            <li>Familia</li>
            <li>RPG</li>
            <li>+18</li>
        </ul>
        </nav>
    </header>

    <main>
        <h1>Carrinho de Compras</h1>
        <div class="products">
            <div class="produto1">
                <div class="info">
                   <img src="" alt="Foto do produto">
                    <p>Nome do produto</p>
                    <p>QUantidade: - 2 +</p>
                    <p>Categoria: seilaQual</p> 
                </div>
                <p>R$ 129.00</p>
                <button>🗑️</button>
            </div>
            <div class="produto2">
                <div class="info">
                   <img src="" alt="Foto do produto">
                    <p>Nome do produto</p>
                    <p>QUantidade: - 2 +</p>
                    <p>Categoria: seilaQual</p> 
                </div>
                <p>R$ 129.00</p>
                <button>🗑️</button>
            </div>
            <div class="produto3">
                <div class="info">
                   <img src="" alt="Foto do produto">
                    <p>Nome do produto</p>
                    <p>QUantidade: - 2 +</p>
                    <p>Categoria: seilaQual</p> 
                </div>
                <p>R$ 129.00</p>
                <button>🗑️</button>
            </div>
        </div>
        <div class="descricao">
            <h2>Descrição</h2>
            <div class="totais">
                <p>Total dos produtos: R$516,00</p>
                <p>Total do frete: R$16,00</p>
            </div>
            <h2>Total do pedido: R$ 616,00</h2>
            <button>Finalizar Pedido</button>
        </div>
    </main>

    <footer>
        <div>
        <p>Formas de Pagamento</p>
        <img src="visa.png" alt="Visa">
        <img src="mastercard.png" alt="Mastercard">
        <img src="elo.png" alt="Elo">
        </div>
        <div>
        <img src="logo.png" alt="StarMeeple logo">
        <p>StarMeeple 2025</p>
        </div>
        <div>
        <p>Nos sigam nas redes sociais:</p>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        </div>
    </footer>
</body>
</html>