<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Finalização do Pedido - StarMeeple</title>
  <link rel="stylesheet" href="/media/CSS/padrao.css">
  <link rel="stylesheet" href="/media/CSS/editProdutoCategoria.css">
</head>
<body>
    {% include "HTML/partials/header.html" %}

  <main id="main">
    <h1>Edição de Produtos</h1>
    <div class="produtos">
      <button id="newProduto" onclick="mostrarPopupProduto()">+ Novo Produto</button>
      <div class="listaProdutos">
        <div class="infoProduto">
          <p>NomeProduto</p>
          <img src="" alt="Foto do Produto" />
          <button id="btnEdit" onclick="mostrarPopupProduto()">Editar</button>
          <button id="btnExcluir" onclick="mostrarPopupSeguranca()">Excluir</button>
        </div>
      </div>
    </div>

    <h1>Cupons e Promoções</h1>
    <div class="cupons">
      <button id="newCupom" onclick="mostrarPopupCupom()">+ Novo Cupom</button>
      <div class="listaCupons">
        <div class="infoCupom">
          <p>nomeCupom</p>
          <div class="btns">
            <button id="btnEditCP" onclick="mostrarPopupProduto()">Editar</button>
            <button id="btnExcluirCP" onclick="mostrarPopupSeguranca()">Excluir</button>
          </div>
        </div>
      </div>
    </div>

    <div class="promocoes">
      <button id="newPromocao" onclick="mostrarPopupPromocao()">+ Nova Promoção</button>
      <div class="listaPromocoes">
        <div class="infoPromocao">
          <p>nomePromocao</p>
          <div class="btns">
            <button id="btnEditCP" onclick="mostrarPopupProduto()">Editar</button>
            <button id="btnExcluirCP" onclick="mostrarPopupSeguranca()">Excluir</button>
          </div>
        </div>
      </div>
    </div>

<div class="popupProduto" id="popupProduto">
  <div class="popup-content">
    <h3>Novo Produto</h3>
    <form method="post" action="/produtos/adicionar/">
      {% csrf_token %}
      
      <p>Nome</p>
      <input type="text" name="nome_prod">
      
      <p>Categoria (ID)</p>
      <input type="number" name="cat">
      
      <p>N° de jogadores</p>
      <input type="text" name="numero_jogadores">
      
      <p>Descrição</p>
      <input type="text" name="descri">
      
      <p>Quantidade em estoque</p>
      <input type="number" name="qtd">
      
      <p>Autor</p>
      <input type="text" name="autor">
      
      <p>Editora (ID)</p>
      <input type="number" name="editora">
      
      <p>Classificação Indicativa</p>
      <select name="clas_ind">
        <option value="">---------</option>
        <option value="L">L</option>
        <option value="10">10</option>
        <option value="12">12</option>
        <option value="14">14</option>
        <option value="16">16</option>
        <option value="18">18</option>
      </select>
      
      <button type="submit">Confirmar</button>
      <button type="button" class="close" onclick="esconderPopupProduto()">Cancelar</button>
    </form>
  </div>
</div>

    <div class="popupCupom" id="popupCupom">
      <div class="popup-content">
        <h3>Novo Cupom</h3>
        <p>Nome</p>
        <input type="text">
        <p>Situação</p>
        <input type="text">
        <p>Método de desconto</p>
        <select name="metodoDesconto" id="metodoDesconto">
          <option value="percentual">Percentual</option>
          <option value="preco">Preço</option>
        </select>
        <p>Preço de desconto</p>
        <input type="text">
        <p>Data de validação</p>
        <input type="date">
        <input type="date">
        <button onclick="loginForm()">Confirmar</button>
        <button class="close" onclick="esconderPopupCupom()">Cancelar</button>
      </div>
    </div>

    <div class="popupPromocao" id="popupPromocao">
      <div class="popup-content">
        <h3>Nova Promoção</h3>
        <p>Nome</p>
        <input type="text">
        <p>Descrição</p>
        <input type="text">
        <p>Desconto (%)</p>
        <input type="number">
        <button onclick="mostrarPopupSeguranca()">Confirmar</button>
        <button class="close" onclick="esconderPopupPromocao()">Cancelar</button>
      </div>
    </div>
  </main>


    {% include "HTML/partials/footer.html" %}

    <script>
      function mostrarPopupProduto() {
        document.getElementById("popupProduto").style.display = "flex";
      }
      function esconderPopupProduto() {
        document.getElementById("popupProduto").style.display = "none";
      }
      function mostrarPopupCupom() {
        document.getElementById("popupCupom").style.display = "flex";
      }
      function esconderPopupCupom() {
        document.getElementById("popupCupom").style.display = "none";
      }
      function mostrarPopupPromocao() {
        document.getElementById("popupPromocao").style.display = "flex";
      }
      function esconderPopupPromocao() {
        document.getElementById("popupPromocao").style.display = "none";
      }
      function mostrarPopupCategoria() {
        document.getElementById("popupCategoria").style.display = "flex";
      }
      function esconderPopupCategoria() {
        document.getElementById("popupCategoria").style.display = "none";
      }
      function mostrarPopupSeguranca() {
        document.getElementById("popupSeguranca").style.display = "block";
      }
      function esconderPopupSeguranca() {
        document.getElementById("popupSeguranca").style.display = "none";
      }
    </script>

</body>
</html>
