  <!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>StarMeeple - Edição de Clientes</title>
    <link rel="stylesheet" href="/media/CSS/padrao.css">
    <link rel="stylesheet" href="/media/CSS/editFuncionarioAdm.css">
</head>
    {% include "HTML/partials/header.html" %}

    <main>
        <div class="editFuncionario">
            <h2>Funcionário</h2>
            <div class="listaFuncionarios">
                <div class="infoFunc">
                    <p>Funcionario001</p>
                    <button onclick="mostrarPopupEdit()">Editar</button>
                    <button onclick="mostrarPopupConfirma()">Excluir</button>
                </div>
                <div class="infoFunc">
                    <p>Funcionario002</p>
                    <button onclick="mostrarPopupEdit()">Editar</button>
                    <button onclick="mostrarPopupConfirma()">Excluir</button>
                </div>
                <div class="infoFunc">
                    <p>Funcionario003</p>
                    <button onclick="mostrarPopupEdit()">Editar</button>
                    <button onclick="mostrarPopupConfirma()">Excluir</button>
                </div>
            </div>
            <button onclick="mostrarPopupEdit()">+ Adicionar Funcionário</button>
        </div>
        <div class="editAdministradores">
            <h2>Administradores</h2>
            <div class="listaAdministradores">
                <div class="infoAdmin">
                    <p>ADMIN001</p>
                    <button onclick="mostrarPopupEdit()">Editar</button>
                    <button onclick="mostrarPopupConfirma()">Excluir</button>
                </div>
                <div class="infoAdmin">
                    <p>ADMIN002</p>
                    <button onclick="mostrarPopupEdit()">Editar</button>
                    <button onclick="mostrarPopupConfirma()">Excluir</button>
                </div>
                <div class="infoAdmin">
                    <p>ADMIN003</p>
                    <button onclick="mostrarPopupEdit()">Editar</button>
                    <button onclick="mostrarPopupConfirma()">Excluir</button>
                </div>
            </div>
            <button onclick="mostrarPopupEdit()">+ Adicionar Administrador</button>
        </div>

        <div class="popupEdit" id="popupEdit" class="popupEdit">
            <div class="popup-content">
                <p>Nome</p>
                <input type="text">
                <p>CPF</p>
                <input type="text">
                <p>Idade</p>
                <input type="text">
                <p>N° Conta Bancária</p>
                <input type="text">
                <p>Telefone</p>
                <input type="text">
                <p>Endereço</p>
                <input type="text">
                <button onclick="mostrarPopupSeguranca">Confirmar</button>
                <button class="close" onclick="esconderPopupEdit()">Cancelar</button>
            </div>
        </div>

        <div class="popupConfirma" id="popupConfirma" class="popupConfirma">
            <div class="popup-content">
                <p>Você tem certeza que deseja excluir?</p>
                <button onclick="mostrarPopupSeguranca">Confirmar</button>
                <button class="close" onclick="esconderPopupConfirma()">Cancelar</button>
            </div>
        </div>

        <div class="popupSeguranca" id="popupSeguranca" class="popupSeguranca">
            <div class="popup-content">
                <p>Coloque seu usuário de administrador</p>
                <input type="text">
                <p>Coloque sua senha</p>
                <input type="text">
                <button>Confirmar</button>
                <button class="close" onclick="esconderPopupSeguranca()">Cancelar</button>
            </div>
        </div>
    </main>

    <footer>
        <div class="formPagamento">
            <p>Formas de Pagamento</p>
            <div class="imgsPagamento">
              <img src="visa.png" alt="Visa">
              <img src="mastercard.png" alt="Mastercard">
              <img src="elo.png" alt="Elo">
            </div>  
        </div>
  
        <div class="logoStar">
            <img src="logo.png" alt="StarMeeple logo">
            <p>StarMeeple 2025</p>
        </div>
  
        <div class="linkSocial">
            <p>Nos sigam nas redes sociais:</p>
            <a href="https://www.instagram.com">Instagram</a>
            <a href="https://www.facebook.com">Facebook</a>
        </div>
      </footer>

    <script>
        function mostrarPopupEdit() {
          document.getElementById("popupNome").style.display = "block";
        }
        
        function esconderPopupEdit() {
          document.getElementById("popupNome").style.display = "none";
        }
  
        function mostrarPopupSeguranca() {
          document.getElementById("popupSeguranca").style.display = "block";
        }
        
        function esconderPopupSeguranca() {
          document.getElementById("popupSeguranca").style.display = "none";
        }

        function mostrarPopupConfirma() {
          document.getElementById("popupConfirma").style.display = "block";
        }
        
        function esconderPopupConfirma() {
          document.getElementById("popupConfirma").style.display = "none";
        }
    </script>
    <script src="/templates/JS/padrao.js"></script>
    
    </body>
    </html>
    