<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<title>Finalização do Pedido - StarMeeple</title>
</head>
<body>

    <header>
        <nav>
        <div>
            <img src="logo.png" alt="StarMeeple">
            <input type="text" placeholder="O que você está procurando?">
            <button>🔍</button>
            <button>💬</button>
            <img src="avatar.png" alt="Avatar do usuário">
            <span>3</span>
        </div>
        <ul>
            <li>Jogos de Cartas</li>
            <li>Jogos de tabuleiro</li>
            <li>Quebra-cabeças</li>
            <li>Familia</li>
            <li>RPG</li>
            <li>+18</li>
        </ul>
        </nav>
    </header>

    <main>
        <h1>Edição de Produtos e Categorias</h1>
        <div class="categorias">
            <div class="listaCategorias">
                <div class="InfoCategoria">
                    <p>nomeCategoria</p>
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
                <div class="InfoCategoria">
                    <p>nomeCategoria</p>
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
                <div class="InfoCategoria">
                    <p>nomeCategoria</p>
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
                <div class="InfoCategoria">
                    <p>nomeCategoria</p>
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
            </div>
            <button>+ Nova Categoria</button>
        </div>
        <div class="produtos">
            <button>+ Novo Produto</button>
            <div class="listaProdutos">
                <div class="infoProduto">
                    <p>NomeProduto</p>
                    <img src="" alt="Foto do Produto">
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
                <div class="infoProduto">
                    <p>NomeProduto</p>
                    <img src="" alt="Foto do Produto">
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
                <div class="infoProduto">
                    <p>NomeProduto</p>
                    <img src="" alt="Foto do Produto">
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
                <div class="infoProduto">
                    <p>NomeProduto</p>
                    <img src="" alt="Foto do Produto">
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
                <div class="infoProduto">
                    <p>NomeProduto</p>
                    <img src="" alt="Foto do Produto">
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
            </div>
        </div>
        <h3>Cupons e Promoções</h3>
        <div class="cupons">
            <button>+ Nova Categoria</button>
            <div class="listaCuponss">
                <div class="InfoCupom">
                    <p>nomeCategoria</p>
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
                <div class="InfoCupom">
                    <p>nomeCategoria</p>
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
                <div class="InfoCupom">
                    <p>nomeCategoria</p>
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
                <div class="InfoCupom">
                    <p>nomeCategoria</p>
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
            </div>
        </div>
        <div class="promocoes"></div>
    </main>

    <footer>
        <div>
        <p>Formas de Pagamento</p>
        <img src="visa.png" alt="Visa">
        <img src="mastercard.png" alt="Mastercard">
        <img src="elo.png" alt="Elo">
        </div>
        <div>
        <img src="logo.png" alt="StarMeeple logo">
        <p>StarMeeple 2025</p>
        </div>
        <div>
        <p>Nos sigam nas redes sociais:</p>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        </div>
    </footer>

</body>
</html>
