<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Exportação de Finanças - StarMeeple</title>
    <link rel="stylesheet" href="/media/CSS/padrao.css">
    <link rel="stylesheet" href="/media/CSS/exportaFinanca.css">
  </head>
  <body>
    <header>
      <nav>
        <div>
          <img id="logoSite" src="midia/logoStarMeeple.png" alt="StarMeeple">
          <input type="text" placeholder="O que você está procurando?" />
          <button>🔍</button>
          <button>💬</button>
          <img id="logoUsuario" src="avatar.png" alt="Avatar do usuário">
          <span>3</span>
        </div>
        <ul>
        <li id="linkJogosCartas">Jogos de Cartas</li>
        <li id="linkJogosTabuleiro">Jogos de tabuleiro</li>
        <li id="linkQuebraCabecas">Quebra-cabeças</li>
        <li id="linkFamilia">Familia</li>
        <li id="linkRPG">RPG</li>
        <li id="link18">+18</li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Finanças</h1>
      <div class="listaFinancas">
        <div class="infoFinanca">
          <h3>Finanças por Produto</h3>
          <button>Ver planilha</button>
          <button onclick="mostrarPopupNome()">Exportar planilha</button>
        </div>
        <div class="infoFinanca">
          <h3>Finanças por Categoria</h3>
          <button>Ver planilha</button>
          <button onclick="mostrarPopupNome()">Exportar planilha</button>
        </div>
        <div class="infoFinanca">
          <h3>Finanças Gerais</h3>
          <button>Ver planilha</button>
          <button onclick="mostrarPopupSeguranca()">Exportar planilha</button>
        </div>
      </div>

      <div class="popupNome" id="popupNome" class="popupNome">
        <div class="popup-content">
            <h3>Nome do produto ou categoria</h3>
            <input type="text">
            <button onclick="mostrarPopupSeguranca">Confirmar</button>
            <button class="close" onclick="esconderPopup()">Cancelar</button>
        </div>
    </div>

    <div class="popupSeguranca" id="popupSeguranca" class="popupSeguranca">
        <div class="popup-content">
            <p>Coloque seu usuário de administrador</p>
            <input type="text">
            <p>Coloque sua senha</p>
            <input type="text">
            <button>Confirmar</button>
            <span class="close" onclick="esconderPopupSeguranca()">Cancelar</span>
        </div>
    </div>

    </main>

    <footer>
      <div class="formPagamento">
          <p>Formas de Pagamento</p>
          <div class="imgsPagamento">
            <img src="visa.png" alt="Visa">
            <img src="mastercard.png" alt="Mastercard">
            <img src="elo.png" alt="Elo">
          </div>  
      </div>

      <div class="logoStar">
          <img src="logo.png" alt="StarMeeple logo">
          <p>StarMeeple 2025</p>
      </div>

      <div class="linkSocial">
          <p>Nos sigam nas redes sociais:</p>
          <a href="https://www.instagram.com">Instagram</a>
          <a href="https://www.facebook.com">Facebook</a>
      </div>
    </footer>

    <script>
      function mostrarPopupNome() {
        document.getElementById("popupNome").style.display = "block";
      }
      
      function esconderPopupNome() {
        document.getElementById("popupNome").style.display = "none";
      }

      function mostrarPopupSeguranca() {
        document.getElementById("popupSeguranca").style.display = "block";
      }
      
      function esconderPopupSeguranca() {
        document.getElementById("popupSeguranca").style.display = "none";
      }
  </script>
  <script src="/templates/JS/padrao.js"></script>
  </body>
</html>
