<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Desejos - StarMeeple</title>
    <link rel="stylesheet" href="CSS/padrao.css">
    <link rel="stylesheet" href="CSS/listaDesejos.css">
  </head>
  <body>
    {% include "HTML/partials/header.html" %}

    <main>
      <h1>Lista de Desejos</h1>
      <div class="produto">
        <img src="" alt="Foto do Produto" />
        <div class="infoProduto">
          <h3>Nome do Produto</h3>
          <p>Categoria: seila_qual</p>
          <p>R$ 129,00</p>
        </div>
        <button>🗑️</button>
      </div>
      <div class="produto">
        <img src="" alt="Foto do Produto" />
        <div class="infoProduto">
          <h3>Nome do Produto</h3>
          <p>Categoria: seila_qual</p>
          <p>R$ 129,00</p>
        </div>
        <button>🗑️</button>
      </div>
      <div class="produto">
        <img src="" alt="Foto do Produto" />
        <div class="infoProduto">
          <h3>Nome do Produto</h3>
          <p>Categoria: seila_qual</p>
          <p>R$ 129,00</p>
        </div>
        <button>🗑️</button>
      </div>
      <div class="produto">
        <img src="" alt="Foto do Produto" />
        <div class="infoProduto">
          <h3>Nome do Produto</h3>
          <p>Categoria: seila_qual</p>
          <p>R$ 129,00</p>
        </div>
        <button>🗑️</button>
      </div>
    </main>

    <footer>
      <div class="formPagamento">
          <p>Formas de Pagamento</p>
          <div class="imgsPagamento">
            <img src="visa.png" alt="Visa">
            <img src="mastercard.png" alt="Mastercard">
            <img src="elo.png" alt="Elo">
          </div>  
      </div>

      <div class="logoStar">
          <img src="logo.png" alt="StarMeeple logo">
          <p>StarMeeple 2025</p>
      </div>

      <div class="linkSocial">
          <p>Nos sigam nas redes sociais:</p>
          <a href="https://www.instagram.com">Instagram</a>
          <a href="https://www.facebook.com">Facebook</a>
      </div>
    </footer>
    <script src="/templates/JS/padrao.js"></script>
  </body>
</html>
