<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<title>Finalização do Pedido - StarMeeple</title>
<link rel="stylesheet" href="/media/CSS/padrao.css">
<link rel="stylesheet" href="/media/CSS/painelADM.css">
</head>
<body>

    {% include "HTML/partials/header.html" %}

    <main>
        <h1>Painel de Administrador</h1>  
        <a href= "{% url 'editProdutoCategoria' %}"><button id="edProdutoCategoria">Edição de Produtos e Categorias</button></a> 
        <button id="edFuncionarioAdm">Edição de Funcionários e Adms</button>
        <button id="edCliente">Edição de Clientes</button>
        <button id="Dindin">Exportação de Finanças</button>
    </main>

    {% include "HTML/partials/footer.html" %}
    <script src="/templates/JS/padrao.js"></script>

</body>
</html>
