<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<title>Finalização do Pedido - StarMeeple</title>
<link rel="stylesheet" href="/media/CSS/padrao.css">
<link rel="stylesheet" href="/media/CSS/painelFuncionario.css">
</head>
<body>

    {% include "HTML/partials/header.html" %}

    <main>
        <h1>Painel de Funcionários</h1>  
        <button id="edProdutoCategoria">Edição de Produtos e Categorias</button>
        <button id="edCliente">Edição de Clientes</button>
    </main>

    <footer>
        <div class="formPagamento">
            <p>Formas de Pagamento</p>
            <div class="imgsPagamento">
              <img src="visa.png" alt="Visa">
              <img src="mastercard.png" alt="Mastercard">
              <img src="elo.png" alt="Elo">
            </div>  
        </div>
  
        <div class="logoStar">
            <img src="logo.png" alt="StarMeeple logo">
            <p>StarMeeple 2025</p>
        </div>
  
        <div class="linkSocial">
            <p>Nos sigam nas redes sociais:</p>
            <a href="https://www.instagram.com">Instagram</a>
            <a href="https://www.facebook.com">Facebook</a>
        </div>
      </footer>
      <script src="/templates/JS/padrao.js"></script>

</body>
</html>
