<!DOCTYPE html>
<html lang="pt-br">

    <!-- Alícia -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Meeple</title>
    <link rel="stylesheet" href="CSS/padrao.css">
    <link rel="stylesheet" href="CSS/perfil.css">
</head>
<body>
    <header>
        <nav>
        <div>
            <img id="logoSite" src="midia/logoStarMeeple.png" alt="StarMeeple">
            <input type="text" placeholder="O que você está procurando?">
            <button>🔍</button>
            <button>💬</button>
            <img id="logoUsuario" src="avatar.png" alt="Avatar do usuário">
            <span>3</span>
        </div>
        <ul>
        <li id="linkJogosCartas">Jogos de Cartas</li>
        <li id="linkJogosTabuleiro">Jogos de tabuleiro</li>
        <li id="linkQuebraCabecas">Quebra-cabeças</li>
        <li id="linkFamilia">Familia</li>
        <li id="linkRPG">RPG</li>
        <li id="link18">+18</li>
        </ul>
        </nav>
    </header>

    <main>
        <div class="perfil">
            <div class="headerPerfil">
                <h2 id="nomeUsuario">Carregando...</h2>
                <button onclick="mostrarPopup()">Deletar Conta</button>
            </div>
            <div class="infoUser">
                <img src="" alt="Foto de perfil do usuário" id="fotoPerfil">
                <div class="infosNFoto">
                    <p id="nomeCompleto">Carregando...</p>
                    <p id="idadeUsuario">Carregando...</p>
                    <p id="cpfUsuario">Carregando...</p>
                    <p id="enderecoUsuario">Carregando...</p>
                    <p id="cepUsuario">Carregando...</p>
                    <p id="telefoneUsuario">Carregando...</p>
                    <p id="emailUsuario">Carregando...</p> 
                </div>  
            </div>
            <div class="footerPerfil">
                <button id="faleConosco">Fale Conosco</button>
                <button id="seguranca" onclick="mostrarPopupSeguranca()">Segurança</button>
            </div>
        </div>
        
        <div class="pedidos">
            <h2>Acompanhe seus pedidos</h2>
            <div class="pedido">
                <h3>Pedido: #fef8vrf65vc</h3>
                <div class="infoPedido">
                    <h3>Status do pedido: Status</h3>
                    <div class="infoProduto01">
                        <p>Item #vf8rgs5csdgr5</p>
                        <img src="" alt="Foto do produto">
                        <p>Produto: Jogo01</p>
                        <p>QTD: 1</p>
                        <p>Valor: R$ 45,13</p>
                        <button>Avaliar/Comentar</button>
                    </div>
                    <div class="infoProduto02">
                        <p>Item #vf8rgs5csdgr5</p>
                        <img src="" alt="Foto do produto">
                        <p>Produto: Jogo01</p>
                        <p>QTD: 1</p>
                        <p>Valor: R$ 45,13</p>
                        <button>Avaliar/Comentar</button>
                    </div>
                    <h3>Valor total do pedido: R$ 124,00</h3>
                    <h3>Data do pedido: 04/04/2025</h3>
                    <button>Problemas com pedido</button>
                </div>
            </div>
            <div class="pedido">
                <h3>Pedido: #fef8vrf65vc</h3>
                <div class="infoPedido">
                    <h3>Status do pedido: Status</h3>
                    <div class="infoProduto01">
                        <p>Item #vf8rgs5csdgr5</p>
                        <img src="" alt="Foto do produto">
                        <p>Produto: Jogo01</p>
                        <p>QTD: 1</p>
                        <p>Valor: R$ 45,13</p>
                        <button>Avaliar/Comentar</button>
                    </div>
                    <div class="infoProduto02">
                        <p>Item #vf8rgs5csdgr5</p>
                        <img src="" alt="Foto do produto">
                        <p>Produto: Jogo01</p>
                        <p>QTD: 1</p>
                        <p>Valor: R$ 45,13</p>
                        <button>Avaliar/Comentar</button>
                    </div>
                    <h3>Valor total do pedido: R$ 124,00</h3>
                    <h3>Data do pedido: 04/04/2025</h3>
                    <button>Problemas com pedido</button>
                </div>
            </div>
        </div>

        <div class="popupConta" id="popupConta" class="popupConta">
            <div class="popup-content">
                <h3>Você tem certeza que deseja apagar sua conta?</h3>
                <p>Todos os seus dados serão apagados depois de 30 dias.</p>
                <button class="close" onclick="esconderPopup()">Cancelar</button>
                <button>Apagar</button>
            </div>
        </div>

        <div class="popupSeguranca" id="popupSeguranca" class="popupSeguranca">
            <div class="popup-content">
                <p>Deseja reportar um problema de segurança, como vazamento de senhas, dados sensíveis, entre outros, etc...?</p>
                <button class="close" onclick="esconderPopupSeguranca()">Cancelar</button>
                <button>Reportar</button>
            </div>
        </div>
    </main>

    <footer>
        <div class="formPagamento">
            <p>Formas de Pagamento</p>
            <div class="imgsPagamento">
                <img src="midia/pix.png" alt="Pix">
                <img src="midia/visa.png" alt="Visa">
                <img src="midia/mastercard.png" alt="Mastercard">
                <img src="midia/elo.png" alt="Elo">
            </div>  
        </div>
  
        <div class="logoStar">
            <img src="logo.png" alt="StarMeeple logo">
            <p>StarMeeple 2025</p>
        </div>
  
        <div class="linkSocial">
            <p>Nos sigam nas redes sociais:</p>
            <a href="https://www.instagram.com"><img src="midia/instagram.jpg" alt="" />Instagram</a>
            <a href="https://www.facebook.com"><img src="midia/facebook.jpg" alt="" />Facebook</a>
        </div>
      </footer>

    <script>
        function mostrarPopup() {
          document.getElementById("popupConta").style.display = "block";
        }
        
        function esconderPopup() {
          document.getElementById("popupConta").style.display = "none";
        }

        function mostrarPopupSeguranca() {
          document.getElementById("popupSeguranca").style.display = "block";
        }
        
        function esconderPopupSeguranca() {
          document.getElementById("popupSeguranca").style.display = "none";
        }
    </script>
    <script src="/templates/JS/padrao.js"></script>
</body>
</html>