<!DOCTYPE html>
<html lang="pt-br">

    <!-- Ana -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problemas com pedido</title>
    <link rel="stylesheet" href="CSS/padrao.css">
    <link rel="stylesheet" href="CSS/problemaPedido.css">
</head>
<body>
    <header>
        <nav>
        <div>
            <img id="logoSite" src="midia/logoStarMeeple.png" alt="StarMeeple">
            <input type="text" placeholder="O que você está procurando?">
            <button>🔍</button>
            <button>💬</button>
            <img src="avatar.png" alt="Avatar do usuário">
            <span>3</span>
        </div>
        <ul>
            <li>Jogos de Cartas</li>
            <li>Jogos de tabuleiro</li>
            <li>Quebra-cabeças</li>
            <li>Familia</li>
            <li>RPG</li>
            <li>+18</li>
        </ul>
        </nav>
    </header>

    <main>
        <h2>Olá, <strong>Fulano de Tal!</strong></h2> 
        <h2>Esta é a página de <strong>atendimentos</strong> para <strong>problemas com o site</strong>, para problemas com o <strong>pedido</strong>, por favor procure o botão <strong>Falar Conosco</strong> em página de usuário.</h2>
        <div class="selectProblem">
            <p>Selecione o seu problema:</p>
            <input type="checkbox" id="escolha1" value="">
            <label for="escolha1">Problemas com o frete.</label>
            <input type="checkbox" id="escolha2" value="">
            <label for="escolha2">Problemas com o produto.</label>
            <input type="checkbox" id="escolha3" value="">
            <label for="escolha3">Outro.</label>
        </div>
        <div class="selectEscolha">
            <p>Selecione o que vpcê deseja:</p>
            <input type="checkbox" id="escolha1" value="">
            <label for="escolha1">Pedido de devolução.</label>
            <input type="checkbox" id="escolha2" value="">
            <label for="escolha2">Pedido de reembolso.</label>
            <input type="checkbox" id="escolha3" value="">
            <label for="escolha3">Outro.</label>
        </div>
        <div class="descricao">
            <p>Nos conte sobre seu problema:</p>
            <input type="text">
        </div>
        <button>Enviar</button>
    </main>

    <footer>
        <div class="formPagamento">
            <p>Formas de Pagamento</p>
            <div class="imgsPagamento">
              <img src="visa.png" alt="Visa">
              <img src="mastercard.png" alt="Mastercard">
              <img src="elo.png" alt="Elo">
            </div>  
        </div>
  
        <div class="logoStar">
            <img src="logo.png" alt="StarMeeple logo">
            <p>StarMeeple 2025</p>
        </div>
  
        <div class="linkSocial">
            <p>Nos sigam nas redes sociais:</p>
            <a href="#">Instagram</a>
            <a href="#">Facebook</a>
        </div>
      </footer>
      <script src="/templates/JS/padrao.js"></script>
</body>
</html>