<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<title>Finalização do Pedido - StarMeeple</title>
</head>
<body>

    <header>
        <nav>
        <div>
            <img src="logo.png" alt="StarMeeple">
            <input type="text" placeholder="O que você está procurando?">
            <button>🔍</button>
            <button>💬</button>
            <img src="avatar.png" alt="Avatar do usuário">
            <span>3</span>
        </div>
        <ul>
            <li>Jogos de Cartas</li>
            <li>Jogos de tabuleiro</li>
            <li>Quebra-cabeças</li>
            <li>Familia</li>
            <li>RPG</li>
            <li>+18</li>
        </ul>
        </nav>
    </header>

    <main>
        <h2>Título do Produto</h2>
        <img src="" alt="Foto do Produto">
        <button>Criar Frete</button>
        <p>Preço: R$ 120,00</p>
        <p>Quantidade: - 1 +</p>
        <button>Adicionar ao carrinho</button>
        <div class="descricao">
            <h3>Descrição</h3>
            <div class="infoDescricao">
                <p>Descricao do Produto, descricao do produto, descricao do produto</p>
                <p>Numerod e jogadores: 4</p>
                <p>Categoriia: seila_qual</p>
            </div>
        </div>
        <div class="Comentarios">
            <div class="comentarioUser">
                <p>nome_usuario</p>
                <p>Boa tarde, tudo bem? Gostaria de fazer uma pergunta.</p>
                <p>nome_funcionario/administrador</p>
                <p>Claro, pode fazer a pergunta.</p>
            </div>
            <div class="comentarioUser">
                <p>nome_usuario</p>
                <p>Boa tarde, tudo bem? Gostaria de fazer uma pergunta.</p>
                <p>nome_funcionario/administrador</p>
                <p>Claro, pode fazer a pergunta.</p>
            </div>
            <div class="comentarioUser">
                <p>nome_usuario</p>
                <p>Boa tarde, tudo bem? Gostaria de fazer uma pergunta.</p>
                <p>nome_funcionario/administrador</p>
                <p>Claro, pode fazer a pergunta.</p>
            </div>
        </div>
        <div class="avaliações">
            <h3>Avaliações</h3>
            <div class="avaliacaoUser">
                <p>nome_usuario</p>
                <p>Nota: 4</p>
                <p>Achei muito bom o jogo. 10/10</p>
            </div>
            <div class="avaliacaoUser">
                <p>nome_usuario</p>
                <p>Nota: 4</p>
                <p>Achei muito bom o jogo. 10/10</p>
            </div>
            <div class="avaliacaoUser">
                <p>nome_usuario</p>
                <p>Nota: 4</p>
                <p>Achei muito bom o jogo. 10/10</p>
            </div>
        </div>
    </main>

    <footer>
        <div>
        <p>Formas de Pagamento</p>
        <img src="visa.png" alt="Visa">
        <img src="mastercard.png" alt="Mastercard">
        <img src="elo.png" alt="Elo">
        </div>
        <div>
        <img src="logo.png" alt="StarMeeple logo">
        <p>StarMeeple 2025</p>
        </div>
        <div>
        <p>Nos sigam nas redes sociais:</p>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        </div>
    </footer>

</body>
</html>
