<!DOCTYPE html>
<html lang="pt-br">

    <!-- Alicia -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Meeple</title>
    <link rel="stylesheet" href="/media/CSS/padrao.css">
    <link rel="stylesheet" href="/media/CSS/suporteFuncionario.css">
</head>
<body>
    <header>
        <nav>
        <div>
            <img id="logoSite" src="midia/logoStarMeeple.png" alt="StarMeeple">
            <input type="text" placeholder="O que você está procurando?">
            <button>🔍</button>
            <button>💬</button>
            <img id="logoUsuario" src="avatar.png" alt="Avatar do usuário">
            <span>3</span>
        </div>
        <ul>
        <li id="linkJogosCartas">Jogos de Cartas</li>
        <li id="linkJogosTabuleiro">Jogos de tabuleiro</li>
        <li id="linkQuebraCabecas">Quebra-cabeças</li>
        <li id="linkFamilia">Familia</li>
        <li id="linkRPG">RPG</li>
        <li id="link18">+18</li>
      </ul>
        </nav>
    </header>

    <main>
        <h2>SUporte para Clientes</h2>
        <div class="listaMensagens">
            <div class="infoMensagem">
                <p>NomeCliente</p>
                <button>Responder</button>
            </div>
            <div class="infoMensagem">
                <p>NomeCliente</p>
                <button>Responder</button>
            </div>
            <div class="infoMensagem">
                <p>NomeCliente</p>
                <button>Responder</button>
            </div>
            <div class="infoMensagem">
                <p>NomeCliente</p>
                <button>Responder</button>
            </div>
            <div class="infoMensagem">
                <p>NomeCliente</p>
                <button>Responder</button>
            </div>
        </div>
    </main>

    <footer>
        <div class="formPagamento">
            <p>Formas de Pagamento</p>
            <div class="imgsPagamento">
              <img src="visa.png" alt="Visa">
              <img src="mastercard.png" alt="Mastercard">
              <img src="elo.png" alt="Elo">
            </div>  
        </div>
  
        <div class="logoStar">
            <img src="logo.png" alt="StarMeeple logo">
            <p>StarMeeple 2025</p>
        </div>
  
        <div class="linkSocial">
            <p>Nos sigam nas redes sociais:</p>
            <a href="https://www.instagram.com">Instagram</a>
            <a href="https://www.facebook.com">Facebook</a>
        </div>
      </footer>
      <script src="/templates/JS/padrao.js"></script>
</body>
</html>