.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carrossel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.carrossel-box {
  width: 50%; /* ocupa metade da tela */
  position: relative;
}

.carousel-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.carousel-btn.prev {
  margin-right: 10px;
}

.carousel-btn.next {
  margin-left: 10px;
}


