/* ------------------- DIV PERFIL ------------------- */

.perfil{
    width: 90%;
    background-color: #3C4655;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}

.headerPerfil{
    display: flex;
    flex-direction: row;
}
.headerPerfil button{
    padding: 3px;
    background-color: #d64742;
    border-radius: 20px;
    font-family: "Bruno Ace", sans-serif;
}

.infoUser{
    display: flex;
    flex-direction: row;
}
.infoUser img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.infosNFoto{
    display: flex;
    flex-direction: column;
}

.footerPerfil{
    display: flex;
    flex-direction: row;
}
#faleConosco{
    background-color: yellow;
    border-radius: 20px;
    padding: 6px;
    font-family: "Bruno Ace", sans-serif;
}
#seguranca{
    background-color: green;
    border-radius: 20px;
    padding: 6px;
    font-family: "Bruno Ace", sans-serif;
}