.perfil{
    background-color: #3C4655;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.infoUser{
    display: flex;
    flex-direction: row;
}

.infosNFoto{
    display: flex;
    flex-direction: column;
}
.headerPerfil{
    display: flex;
    flex-direction: row;
}